
nav.link-font {
  font-size: 30px;
  color: white;
}

.home-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-size: cover;
}

.home-text {
  margin: auto;
  color: white;
}

.home-text1 p {
  color: white;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  margin: -20px auto;
  padding-top: 30px;
  text-shadow: 3px 3x black;
}
/* 
.home-text1 p:nth-child(2) {
  animation: type2 4s steps(20, end);
}

.home-text1 label {
  animation: blink 1s infinite;
  color: red;
  font-weight: bold;
}

@keyframes type {
  0% {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  75%{width:0;}

  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
} */

.projects-grid {
  display: flex;
}
.resume-grid{
  background-color: black;
}
.resume-right-col {
  background: white;
  color: black;
  padding: 5em;
}

.resume-left-col {
  background: lightblue;
  color: black;
  padding: 5em;
}

.contact-left-grid {
  background:black;
  color: white;
  justify-content: center;
  text-align: center;
}

.contact-left-grid>h4 {
  font-family: 'Anton', sans-serif;
  color: white;
}

.contact-left-grid hr {
  border-top: 5px solid white;
  margin: auto;
  width: 75%;
}


.contact-right-grid {
  text-align: center;
  justify-content: center;
  background: black;
  padding-left: 5em;
}

.contact-right-grid>h4 {
  font-family: 'Anton', sans-serif;
  color: white;
}

.contact-right-grid hr {
  border-top: 5px solid white;
  margin: auto;
  width: 75%;
}

/* .contact-list i {
  font-size: 50px;
  padding-right: 5rem;
} */

.contact-list-group {
  width: 500px;
  margin: 30px;
}

.contact-list-item a {
  text-decoration: none;
  color: white;
  height: 35px;
  width: 100%;
  border-radius: 30px;
  padding-top: 20px;
  box-shadow: 2px 2px grey;
  border: 1px solid black;
}

.contact-list-item a:hover {
  background-color: wheat;
  color: black;
}

.contact-list-item i {
  color: white;
  border-radius: 100%;
  margin-left: -8px;
  height: 40px;
  width: 50px;
  padding-top: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
  margin-right: -35px;
  z-index: 1;
}

.contact-list-item i:hover {
  transform: rotate(10deg);
  transform: rotate(-10deg);
}

.contact-list-item:hover {
  color: white;
}

.avater-img {
  height: 300px;
  padding-top: 0em;
  width: 300px;
  border-radius: 100%;
  margin-top: 6em;
  box-shadow: 5px 5px lightblue;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  font-size: 3em;
  color: white;
  padding: 8px;
  margin-top: 1em;
}
.social-links i:hover{
  color: red;
  transform: rotate(1deg);
  transform: rotate(-1deg);
}

.card-button {
  display: flex;
  justify-content: space-between;
}

.card-button Button {
  background: darkblue;
  color: white;
  border-radius: 15px;
}

.card-button Button:hover {
  background: Green;
  color: white;
  border-radius: 15px;
}

.card-text {
  font-Family: 'Anton' sans-serif;
  font-Weight: bold;
  color: black;
  border-Top: 1px solid grey
}
.aboutme-grid{
  background:black
}

.aboutme-left-grid {
  justify-content: center;
  text-align: center;
  padding: 5em;
  color: white;
}

.aboutme-left-grid p {
  padding: 3em;
  width: 70%;
  margin: auto;
  padding-Top: 1em;
  text-align: justify;
  margin-top: 50px;
  font-size: 20px;
}
.aboutme-left-grid>h4 {
  font-family: 'Anton', sans-serif;
  color: white;
}

.aboutme-grid hr {
  border-top: 5px solid white;
  margin: auto;
  width: 75%;
}
.aboutme-left-grid-button button{
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background: red;
  border-radius: 30px;
  color: black;
  margin: 5px;
  border: 2px solid red;
  box-shadow: 2px 2px green;
  font-size: 20px;
}
.aboutme-left-grid-button button:hover{
  background: blue;
  color: white;
}
.aboutme-left-grid-button a button i:hover{
  transform: rotate(2deg);
  transform: rotate(-2deg);
}


/* Contact Form  */
.contact-form-head{
  width: 550px;
  margin-top: 60px;
}
.contact-form-head h1{
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 20px;
}
.contact-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: inline-flex;
  margin-bottom: 20px;
  width: 500px;
}

.contact-form label{
  color: white;
  margin: 20px;
  font-size: 20px;
}
.contact-form label input{
  width: 320px;
  height: 40px;
  float: right;
  border-radius: 15px;
  box-shadow: 2px 2px grey;
}
.contact-form label textarea{
  width: 320px;
  height: 60px;
  float: right;
  border-radius: 15px;
}
.contact-form span{
  margin-left: 140px;
}
.contact-form span input{
  width: 160px;
  margin:2px;
  height: 40px;
  background: red;
  font-size: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 2px 2px grey;
  transition: width 2s height 2s;
}
.contact-form span input:hover{
  background: green;
width: 152px;
height: 45px;
}
