nav.link-font {
  font-size: 30px;
  color: white;
}

.home-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-size: cover;
}

.home-text {
  margin: auto;
  color: white;
}

.home-text1 p {
  color: white;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  margin: -20px auto;
  padding-top: 30px;
  text-shadow: 3px 3x black;
}

/* 
.home-text1 p:nth-child(2) {
  animation: type2 4s steps(20, end);
}

.home-text1 label {
  animation: blink 1s infinite;
  color: red;
  font-weight: bold;
}

@keyframes type {
  0% {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  75%{width:0;}

  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
} */

.projects-grid {
  display: flex;
  flex-wrap: wrap;
}

.resume-grid {
  background-color: black;
}

.resume-right-col {
  background: white;
  color: black;
  padding: 5em;
}

.resume-left-col {
  background: lightblue;
  color: black;
  padding: 5em;
}




.avater-img {
  height: auto;
  padding-top: 0em;
  width: 20%;
  max-width: 500px;
  border-radius: 100%;
  margin-top: 150px;
  box-shadow: 5px 5px lightblue;
  min-width: 300px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  font-size: 3em;
  color: white;
  padding: 8px;
  margin-top: 1em;
}

.social-links i:hover {
  color: red;
  transform: rotate(1deg);
  transform: rotate(-1deg);
}

.card-button {
  display: flex;
  justify-content: space-between;
}

.card-button Button {
  background: darkblue;
  color: white;
  border-radius: 15px;
}

.card-button Button:hover {
  background: Green;
  color: white;
  border-radius: 15px;
}

.card-text {
  color: black;
  border-Top: 1px solid grey
}

.aboutme-grid {
  background: black
}
.aboutme-right-grid{
  margin-top: 95px;
  margin-left: 30px;
}

.aboutme-right-grid>h2 {
  font-family: 'Anton', sans-serif;
  color: white;
  padding-left: 80px;
  display: flex;
}
.aboutme-right-grid hr {
  border-top: 5px solid white;
  margin-left: 150px;
  width: 100%;
  padding-left: 70px;
  min-width: 300px;
}



.aboutme-left-grid {
  justify-content: center;
  text-align: center;
  padding: 5em;
  color: white;
}

.aboutme-left-grid p {
  width: 90%;
  margin: auto;
  padding-Top: 1.5em;
  text-align: justify;
  margin-top: 50px;
  font-size: 20px;
}

.aboutme-left-grid>h2 {
  font-family: 'Anton', sans-serif;
  color: white;
}

.aboutme-grid hr {
  border-top: 5px solid white;
  margin: auto;
  width: 100%;
}

.aboutme-left-grid-button button {
  width: 350px;
  height: 50px;
  background: red;
  border-radius: 30px;
  color: black;
  border: 2px solid red;
  box-shadow: 2px 2px green;
  font-size: 20px;
  margin-top: 90px;
}

.aboutme-left-grid-button button:hover {
  background: blue;
  color: white;
}

.aboutme-left-grid-button a button i:hover {
  transform: rotate(2deg);
  transform: rotate(-2deg);
}

/* Contact Form  */

.contact-grid{
  background: black;
  display: flex;
  flex-flow: row wrap;
}




/* .contact-list i {
  font-size: 50px;
  padding-right: 5rem;
} */
.contact-form-head{
  width: 550px;
  margin-top: 60px;
}
.contact-form-head h1{
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 20px;
}

.contact-list-group {
  margin: 100px;
  top: 50%;
  text-align: center;
  background: white;
  border-radius: 15px;
  padding: 0px 30px;
  box-shadow: 5px 5px grey;
}

.contact-list-group h4 {
  font-family: 'Anton', sans-serif;
  color: black;
}

.contact-list-group hr {
  border-top: 5px solid black;
  margin: auto;
  width: 85%;
}

.contact-list-item a {
  text-decoration: none;
  color: white;
  height: 35px;
  width: 100%;
  border-radius: 30px;
  padding-top: 20px;
  box-shadow: 2px 2px grey;
  border: 1px solid black;
  ;
}

.contact-list-item a:hover {
  background-color: wheat;
  color: black;
}

.contact-list-item i {
  color: white;
  border-radius: 100%;
  margin-left: -8px;
  height: 40px;
  width: 50px;
  padding-top: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
  margin-right: -35px;
  z-index: 1;
}

.contact-list-item i:hover {
  transform: rotate(10deg);
  transform: rotate(-10deg);
}

.contact-list-item:hover {
  color: white;
}








.contact-form {
  border-radius: 8px;
  text-align: center;
  background: white;
  border-radius: 15px;
  padding: 0px 30px;
  box-shadow: 5px 5px grey;
  padding-top: 30px;
}


.contact-form h4 {
  font-family: 'Anton', sans-serif;
  color: black;
}

.contact-form hr {
  border-top: 5px solid black;
  margin: auto;
  width: 85%;
}

.txtb {
  border: 1px solid black;
  margin: 30px;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  font-size: 13px;
  color: black;
  font-weight: bold;
}

.txtb input, .txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  margin-top: 6px;
}

.btn input {
  display: inline-block;
  background: red;
  color: white;
  cursor: pointer;
  margin-top: 0px 10px;
  width: 48%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid black;
  margin: 2px;
  box-shadow: 2px 2px black;
  font-size: 18px;
  font-weight: bold;
}

.btn input:hover {
  background: blue;
}